@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');

body {
  margin: 0;font-family: 'Noto Sans KR', sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn_check {
  position: absolute;
  right: 80px;
  border : none;
  background: inherit;
  cursor : pointer;
  width : 30px;
  height : 20px;
}
.btn_edit {
  position: absolute;
  right: 45px;
  border : none;
  background: inherit;
  cursor : pointer;
  width : 30px;
  height : 20px;
}
.btn_delete {
  position: absolute;
  right: 12px;
  border : none;
  background: inherit;
  cursor : pointer;
  width : 30px;
  height : 20px;
}